#  Deal value error in Python while convering object to float

## Introduction
When we have to do some operations with user input as string,then we can' perform any operations,because with int or float only we can do operations.If input contains any special charecters,python read as onject and whille converting to float it shows key value error.Here we will learn how to deal that error amd convert to float.

**let us go through, what is object & float in python**

## Object:
It is series of charecters inside quotes.we can use ' ', " ","""   """ for more lines.As system cannot read charecters, it will convert to binary format using Unicode & ASCII.string includes any charecter.Python read string as 'str'.In dataframe python read string as object.

In [25]:
# sample string
s='123ab'  # single quotes
print('s',s)
s1="123 abc"  # double quotes
print('s',s1)
s2="""  123,@$ abscd
gdhh"""     # multiple lines
print('s2',s2)
print('datatypes:',type(s),type(s1),type(s2))
s3=['one','two','3']  # list having strings
print('s3',type(s3))

s 123ab
s 123 abc
s2   123,@$ abscd
gdhh
datatypes: <class 'str'> <class 'str'> <class 'str'>
s3 <class 'list'>

## Float:
It is in decimal format.IEEE 754 standard represents float as 64-bit-double-precision values.It can represented as binary(base-2) fractions.Float maximum value can be approximately 1.8X10^308. Any number greater than this indicated by string 'inf' in python.Python read decimal value or continuos values af 'float'.

In [26]:
# sample float
f=123.4
print(f)
f1=213.467547
print(f1)
print('datatypes: ',type(f),type(f1))

123.4
213.467547
datatypes:  <class 'float'> <class 'float'>

### Convert string to float

In [27]:
s='123.56'
print(s,type(s)) # to check type of data
f=float(s)# it will convert to float
print(f,type(f))# after conversion

123.56 <class 'str'>
123.56 <class 'float'>

### converting string to float having special charecters

In [13]:
s='12,3.56'
print(s,type(s)) # to check type of data
f=float(s)# it will convert to float
print(f,type(f))# after conversion

12,3.56 <class 'str'>

ValueError: could not convert string to float: '12,3.56'

As it shows value error beacuse of,(comma) so, we have to remove , before type conversion.

In [14]:
s=s.replace(',','')# it will replace , with none
f=float(s)# it will convert to float
print(f,type(f))# after conversion

123.56 <class 'float'>

now it is succefully convert into float
### convert string to float in dataframe
Suppose a dataframe have price column, which has missing values in some rows having blank spaces. this cannot read by isnull function and also while converting to float it shows error.

In [17]:
subject=['python','sql','r','statistics']
price=[90.98,87.43,' ',100.00]

In [15]:
import numpy as np
import pandas as pd

In [18]:
df=pd.DataFrame({'subject':subject,'price':price})

In [19]:
df

      subject  price
0      python  90.98
1         sql  87.43
2           r
3  statistics  100.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   subject  4 non-null      object
 1   price    4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

here,blank value is not taken as null value.And because of null value,price is reading as object.so we have to convert to float

In [22]:
df['price']=df['price'].astype('float64')

ValueError: could not convert string to float: ''

lets check values in price

In [23]:
df['price'].unique()

array([90.98, 87.43, ' ', 100.0], dtype=object)

it shows blank/whitespace,which we will replace using replace function

In [24]:
df['price']=df['price'].replace(' ',np.nan)
df['price']

0     90.98
1     87.43
2       NaN
3    100.00
Name: price, dtype: float64

Now it shows float data type.

## Conclusion:
While cleaning data, we have to convert datatypes.this article helps type conversion of object to float in dataframe,which has special charecters or blank values, which value error in python.

Author: Harsha Veena

 [Github link](https://github.com/Harshaveenakondeti)
 
 [Linkedin Link](https://www.linkedin.com/in/harsha-veena-75859096/)
 
 Created on:30/05/2022