# PyMysql
* we need sql basics, how to alter,update,create,delete table. In Python, we want to fetch data from daatbase. we can go with pymysql module. To connect with MYSQL db remotely, or locally using py, we will use PyMySQL module of python.
REQ: MySQL Server->=5.5 version.
This module does not come with built in python. Have o install it externelly. Need to use below command.

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

 by connect() method,we have to connect to mysql
parameters:
    * host: Where server located
     * user: username to log in
     * password: password to us
     * database= Db to use,None to not use a particular one
     * port: MYSQL port too use-default 3306
     * autocommit-True

In [4]:
import pymysql
# to connect MySQL db
conn=pymysql.connect(host='localhost'
                     ,user='root',
                     password='Ramesh@123',
                    database='pyconnect',
                    port=3306)
cur = conn.cursor()
cur.execute("select @@version")
output=cur.fetchall()
print(output)
# to close connection
conn.close()

(('8.0.29',),)

after establishing connection by connect method, we use curser object & cur instance, & execute query by execute method, & give output with fetch method & close connection.

1. callproc() = Used to call existing stored procedures in mysql db.
2. close()= close surrent cursoe object.
3. info()= info about last query.
4. execute()= execute particular query.
5. fetchall()= retrieve all rows in form of list of tuples
6. fetchone()= fetch 1 row in tuple
7. fetchmany() = like fetchone() retrieve next set of rows
8.

In [5]:
import pymysql
# to connect MySQL db
conn=pymysql.connect(host='localhost'
                     ,user='root',
                     password='Ramesh@123',
                    database='pyconnect',
                    port=3306)
cur = conn.cursor()
cur.execute("show tables")
output=cur.fetchall()
print(output)
# to close connection
conn.close()

()

In [6]:
import pymysql
# to connect MySQL db
conn=pymysql.connect(host='localhost'
                     ,user='root',
                     password='Ramesh@123',
                    database='pyconnect',
                    port=3306)
cur = conn.cursor()

sql= "create table employee(id int primary key, fullname varchar(100))"
cur.execute(sql)
cur.execute("show tables")
tables=cur.fetchall()
print(tables)

(('employee',),)

In [7]:
sql= "create table user(id int primary key, fullname varchar(100))"
cur.execute(sql)
cur.execute("show tables")
tables=cur.fetchall()
print(tables)

(('employee',), ('user',))

In [14]:
cur.execute("show tables")
tables=cur.fetchall()
for rows in tables:
    print(rows[0])
print(tables)

employee
user
(('employee',), ('user',))

In [16]:
cur.close()

In [41]:
import pymysql
# to connect MySQL db
conn=pymysql.connect(host='localhost'
                     ,user='root',
                     password='Ramesh@123',
                    database='pyconnect',
                    port=3306,
                    autocommit=True)
cur = conn.cursor()

sql= "insert into table employee (id , fullname ) values (%s,%s)"
cur.execute(sql,(1,'Python is easy'))
cur.execute('select * from employee')
rows=cur.fetchall()
for row in rows:
    print('id' ,row[0])
print(rows)
cur.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'table employee (id , fullname ) values (1,'Python is easy')' at line 1")

In [42]:
import pymysql
# to connect MySQL db
conn=pymysql.connect(host='localhost'
                     ,user='root',
                     password='Ramesh@123',
                    database='pyconnect',
                    port=3306,
                    autocommit=True)
cur = conn.cursor()

sql= "delete from employee where id=1"
cur.execute(sql)
cur.execute('select * from employee')
rows=cur.fetchall()
print(rows)
cur.close()

()

In [47]:
import pymysql
# to connect MySQL db
conn=pymysql.connect(host='localhost'
                     ,user='root',
                     password='Ramesh@123',
                    database='pyconnect',
                    port=3306,
                    autocommit=True)
cur = conn.cursor()
column=['id int','name varchar(100)']
tablename = 'dynamic'
sql= 'create table' +tablename +'('+','.join(column)+')'
print(sql)
cur.execute(sql)
cur.execute('show tables')
rows=cur.fetchall()
print(rows)

create tabledynamic(id int,name varchar(100))

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tabledynamic(id int,name varchar(100))' at line 1")

In [46]:
cur.execute(sql)
cur.execute('show tables')
rows=cur.fetchall()
print(rows)
cur.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tabledynamic(id int,name varchar(100))' at line 1")

In [ ]:
column = []