# Pymysql
SQL=Structure Query Language
create table
insert data to the table.
update the data.
delete the table data on one conditon.
if i have to connect mysql to python. both are different languages.
in python we have a library which will help us to connect with mysql, is pymysql.before we making connection, we have to understand that library shoul be presesnt

Before conecting, we need to know, how to configure?
1. what is the we should know.
2. what is ip address of the database-in which server
3. what is port
which database u waned to use
what is the password for connectiity with the database.
how to install pymysql into he anywhere in any compiler?

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql
# this pymysql take some funcion
# this function connect  will take some property
conn=pymysql.connect(
host='localhost',#127.0.0.1 port 3306
user='root',
password='Ramesh@123',#Herish@123
db='pyconnect')
# it is used to make configure  for connection properly
#1st part connect method

In [3]:
#cursor method,2d part
# if ur database property is correct, then it will start pointing to the database
#using that cursor only, whch u have make the connection, u can execute the query
cur = conn.cursor() # cur is variable to store
#select@@verson-version of mysql

In [4]:
#3. we have to execute the query through python.
# and ouput also we have to see
# execute method
# for python, it is treated as simple string
# in sql ,query
strl="select @@version;"  #8.0.29
#str1= "select * from student"
data1 =cur.execute(strl)

In [5]:
#4. fetching the output from cursor method
# we need to use method called as "fetchall"
# fetchall method
output = cur.fetchall()

In [6]:
output

(('8.0.29',),)

In [ ]:
# from python, we want to change db
#create table
create_table_query='create table test12(id varchar(20),name varchar(20))'
#make change to db, on that time we r commiting something
# we have to execute
cur.execute(create_table_query)
# new function commit have connection
conn.commit()
# when we commit db, we have to close db
conn.close()

In [ ]:
#Dynamic query
dynamc_query  = 'create table'
get_table_name = input('enter the table name')  #test12
dynamic_query = dynamic_query + get_table_name "("
print(dynamic_query)  #test12( will come
# total numer of column
get_column_count = int(input("enter te total numberbof columns u wanted to creat in table"))
for i in range(get_table_count):
    #print(i)
    get_column_name=input("enter the column name") #id
    get_column_type = input("enter the column type")# varchar(20)
    print(get_column_name)
    print(get_column_type)