# Olympic Data Analysis

## Capstone Project-sql part

# Importing csv to Mysql workbench using pymysql,sqlalchemy

## Introduction:
Olympic data is about winners information of different athletes from different country in their sport/game and their medals i particular year.we have 8618 winners information.
            In this project, we are going to see the Olympics analysis using Python. The modern Olympic Games or Olympics are leading international sports events featuring summer and winter sports competitions in which thousands of athletes from around the world participate in a variety of competitions. The Olympic Games are considered the worldâ€™s foremost sports competition with more than 200 nations participating.
         The total number of events in the Olympics is 339 in 33 sports. And for every event there are winners. Therefore various data is generated.So, by using Python we will analyze this data.We have **10 attributes with 8618 athletes** data.

our attributes contain information like mention in following table:

|information type|attributes|
|--|--|
|personal| name, age|
|region| country|
|tenure|year|
|summary|sports,Date_Given,total_medal|
|medal|gold,silver,bronze|


After importing data into Mysql, we will divide tables as shows above by satisfying 3NF.

**Data Description**
1. **Name** is name of athlete, which is a string, **object** datatype.
2. **age** is at which age, athlete won that, which can be continuous value, **float** datatype.
3. **year** is which year they won of olympix, they won medal, which is specific umber, disrete **int** datatype.
4. **Date_Given** on that date, they won medal, which should be in date format.
5. **sports** is in which game they playes & won, which is unique string, so **object**, but we keep in **category** to reduce memory usage.
6. **country** is from which country they represents, which is unique string or **object**, but we convert to **category** to reduce memory.
7. **gold_medal** is athlete won number of gold medals, which is **discrete** number, so **int** format.
8. **silver_medal** is the athlete won number of silver medals, which is **discrete** number, so **int** datatype.
9. **brone_medal** is the athlete won number of bronze medals, which is **discrete** number , so **int** format.
10. **total_medal** is the athlete won number of total medals, which is **discrete** number, so **int** format.

## Objective:
Our aim is to analyse given olympic data by MySQL after converting csv file to sql table.Find insights from data by answering following questions through SQL Query in mYSQL bench.
* The data will be available in mysql. You have to read the data and perform queries before moving to the next step. 

* Apply appropriate normalization techniques (up to 3 NF) to divide it into multiple tables

**Queries**
* Find the average number of medals won by each country
* Display the countries and the number of gold medals they have won in decreasing order
* Display the list of people and the medals they have won in descending order, grouped by their country
* Display the list of people with the medals they have won according to their age
* Which country has won the most number of medals (cumulative)

## Data Collection:
Data was downloaded from odin school LMS portal and saved in local computer.Our data is in csv format. we need to convert to pandas to analyze. so first we need to install pandas which is library to analyse data in python. we need to import nummPy, which is library to do mathematical calculations.Afer convert to pandas we can convert to sql table by using sqlalchemy library . For that we need connection between this jupyter notebook to mysql workbench. for that we need pymysql libary. we need to install both. Using mysql server & login details, we can make connection.This jupyter notebook file is only for converting csv file to sql table.further analysis are done usig sql in workbench. please go through that for quering part.

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import packages
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [10]:
# to import csv file to sql table from jupyter using python libraries sqlalchemy & pymysql
df1 = pd.read_csv("C:/Users/Hp/Documents/datasets/olympix_data_organized_with_header (1) (1).csv")# reading as pandas dataframe
db_connection_str = "mysql+pymysql://root:Ramesh%40123@127.0.0.1/pyconnect" # login crefdentials of mysql workbench to form url
db_connection = sqlalchemy.create_engine(db_connection_str)  # connect to mysql
df1.to_sql("olympic",con=db_connection,index=False)  # convert to sql table
print("data written into the table")  # verification of table impored
print(df1.shape)   # number of columns & rows

data written into the table
(8618, 10)

# Conclusion:
We install necassray librarues & import them. we convert csv file to dataframe in pandas. we created connection to mysql server using pymysql & sqlalchemy. we converted dataframe to sql tbale name called olympic with no index. we verified if data written to table or not. It was successfully written. No we have 8618 rows & 10 columns in dataframe imported to olympic table.For quering part visit sql file.

**Author**: Harsha Veena

**created by**10:7:2022

**IDE**: Jupyter Notebook

**language**:Python

**libraries**: pymysql, sqlalchemy, pandas

**functions**: read.index, shape, print, create_engine